body {
/*Box model stuff*/
    width: 100%;
    height: 100%;
    background-color: #303048;
/*Typography stuff*/
    font-family: "Playwrite IT Moderna", sans-serif;
  }

video {
/*Positioning stuff*/
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
/*Box model stuff*/
    width: 100vw;
    height: 100vh;
/*Miscellaneous*/
    object-fit: cover;
  }

  div {
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Positioning stuff*/
    position: absolute;
    right: 0; 
    top: 0;
/*Box model stuff*/
    width: 50%;
    max-width: 50vw;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7); 
/*Typography stuff*/
    color: white;
    
}

fieldset {
/*Display stuff*/
  display: flex;
  flex-direction: column;
  align-items: center;
/*Box model stuff*/
  border: none;
/*Typography stuff*/
  text-align: left;
}

label {
/*Box model stuff*/
  margin: 10px;
}

input {
/*Box model stuff*/
  width: 100%;
  max-width: 300px;
  height: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
/*Typography stuff*/
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

input[type="submit"] {
/*Box model stuff*/
  width: 150px;
  height: 30px;
  margin: 30px;
  padding: 1px;
  border: none;
  border-radius: 10px;
  background-color: #9e7c9e;
/*Typography stuff*/
  font-family: "Playwrite IT Moderna", sans-serif;
  font-size: small;
}

input[type="submit"]:hover {
/*Miscellaneous*/
  cursor: pointer;
}

p {
/*Box model stuff*/
  width: 35vw;
/*Typography stuff*/
  font-size: small;
}

a {
/*Typography stuff*/
  color: #9e7c9e;
}

input:invalid {
/*Miscellaneous*/
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
/*Miscellaneous*/
  box-shadow: 0 0 5px 1px red;
}
